.vs/Rescan/v17/ipch/AutoPCH/36893e96e2ded1eb/RESCAN.ipch
.vs/Rescan/v17/Browse.VC.opendb
.vs/Rescan/v17/Browse.VC.db-wal
.vs/Rescan/v17/Browse.VC.db-shm
.vs/Rescan/v17/Browse.VC.db
.vs/Rescan/FileContentIndex/c55125c2-3297-46a6-863b-e359253ddec2.vsidx
