.vs/Rescan/v17/ipch/AutoPCH/36893e96e2ded1eb/RESCAN.ipch
.vs/Rescan/v17/Browse.VC.opendb
.vs/Rescan/v17/Browse.VC.db-wal
.vs/Rescan/v17/Browse.VC.db-shm
.vs/Rescan/v17/Browse.VC.db
.vs/Rescan/FileContentIndex/c55125c2-3297-46a6-863b-e359253ddec2.vsidx
.vs/Rescan/FileContentIndex/59d4fc5a-5d51-41f9-98cf-9f9629f8dfb0.vsidx
.vs/Rescan/v17/.suo
.vs/Rescan/v17/DocumentLayout.backup.json
.vs/Rescan/v17/DocumentLayout.json
.vs/Rescan/v17/Solution.VC.db
Rescan/ARM64/Release/Rescan.Build.CppClean.log
Rescan/ARM64/Release/Rescan.exe.recipe
Rescan/ARM64/Release/Rescan.iobj
Rescan/ARM64/Release/Rescan.log
Rescan/ARM64/Release/Rescan.obj
Rescan/ARM64/Release/Rescan.tlog/CL.command.1.tlog
Rescan/ARM64/Release/Rescan.tlog/Cl.items.tlog
Rescan/ARM64/Release/Rescan.tlog/CL.read.1.tlog
Rescan/ARM64/Release/Rescan.tlog/CL.write.1.tlog
Rescan/ARM64/Release/Rescan.tlog/link.command.1.tlog
Rescan/ARM64/Release/Rescan.tlog/link.read.1.tlog
Rescan/ARM64/Release/Rescan.tlog/link.secondary.1.tlog
Rescan/ARM64/Release/Rescan.tlog/link.write.1.tlog
Rescan/ARM64/Release/Rescan.tlog/Rescan.lastbuildstate
Rescan/ARM64/Release/Rescan.vcxproj.FileListAbsolute.txt
Rescan/ARM64/Release/vc143.pdb
.vs/Rescan/FileContentIndex/638c3fd7-4247-4dcc-a1f6-795f9d5fd5c4.vsidx
.vs/Rescan/v17/ipch/AutoPCH/27a8dd719c742809/RESCAN.ipch
Rescan/x64/Release/Rescan.Build.CppClean.log
Rescan/x64/Release/Rescan.exe.recipe
Rescan/x64/Release/Rescan.iobj
Rescan/x64/Release/Rescan.ipdb
Rescan/x64/Release/Rescan.log
Rescan/x64/Release/Rescan.obj
Rescan/x64/Release/Rescan.tlog/CL.command.1.tlog
Rescan/x64/Release/Rescan.tlog/Cl.items.tlog
Rescan/x64/Release/Rescan.tlog/CL.read.1.tlog
Rescan/x64/Release/Rescan.tlog/CL.write.1.tlog
Rescan/x64/Release/Rescan.tlog/link.command.1.tlog
Rescan/x64/Release/Rescan.tlog/link.read.1.tlog
Rescan/x64/Release/Rescan.tlog/link.secondary.1.tlog
Rescan/x64/Release/Rescan.tlog/link.write.1.tlog
Rescan/x64/Release/Rescan.tlog/Rescan.lastbuildstate
Rescan/x64/Release/Rescan.vcxproj.FileListAbsolute.txt
Rescan/x64/Release/vc143.pdb
